<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lista de Pessoas</title>
</head>
<body>
<a href="{% url 'client_new' %}">New</a>
<table border="1">
    <tr>
        <td>Id</td>
        <td>Nome Cliente</td>
        <td>Usuário</td>
    </tr>
    {% for client in object_list %}
        <tr>
            <td><a href="{% url 'client_update' client.id %}">{{ client.id }}</a></td>
            <td>{{ client.nome_cliente }}</td>
            <td>{{ client.user }}</td>
        </tr>
    {% endfor %}
</table>


</body>
</html>